require "byebug" if ENV["RACK_ENV"] == "development"
require "pry" if ENV["RACK_ENV"] == "development"

require_relative "<%= config[:underscored_project_name] %>/container"

<%= config[:camel_cased_app_name] %>::Container.finalize!

require "<%= config[:underscored_project_name] %>/application"

require "<%= config[:underscored_project_name] %>/transactions"
<%= config[:camel_cased_app_name] %>::Container.require "transactions/**/*.rb"
