require "dry/web/container"

module <%= config[:camel_cased_app_name] %>
  class Container < Dry::Web::Container
    configure do
      config.name = :<%= config[:underscored_project_name] %>
      config.default_namespace = "<%= config[:underscored_project_name] %>"
      config.listeners = true

      config.auto_register = %w[
        lib/<%= config[:underscored_project_name] %>
      ]
    end

    load_paths! "lib", "system"
  end
end
