require "<%= config[:underscored_project_name] %>/transactions"

<%= config[:camel_cased_app_name] %>::Transactions.define do |t|
  # Define your dry-transaction objects here:
  #
  # t.define "transactions.users.sign_up" do
  #   step :persist, with: "users.operations.sign_up"
  #   # other steps here
  # end
end
