# auto_register: false

require "rom-repository"
require "<%= config[:underscored_project_name] %>/container"
require "<%= config[:underscored_project_name] %>/import"

module <%= config[:camel_cased_app_name] %>
  class Repository < ROM::Repository::Root
    include Import.args["persistence.rom"]
  end
end
