module TestHelpers
  module_function

  def app
    <%= config[:camel_cased_app_name] %>::Application.app
  end

  def rom
    <%= config[:camel_cased_app_name] %>::Container["persistence.rom"]
  end

  def db
    <%= config[:camel_cased_app_name] %>::Container["persistence.db"]
  end
end
