require "dry/web/roda/application"
require_relative "container"

module <%= config[:camel_cased_app_name] %>
  class Web < Dry::Web::Roda::Application
    configure do |config|
      config.container = Container
    end

    route do |r|
      r.run <%= config[:camel_cased_app_name] %>::Main::Web.freeze.app
    end

    error do |e|
      self.class[:rack_monitor].instrument(:error, exception: e)
      raise e
    end
  end
end
