require "byebug" if ENV["RACK_ENV"] == "development"
require "pry" if ENV["RACK_ENV"] == "development"

require_relative "<%= config[:underscored_app_name] %>/container"

<%= config[:camel_cased_app_name] %>::Container.finalize! do |container|
end

app_paths = Pathname(__FILE__).dirname.join("../apps").realpath.join("*")
Dir[app_paths].each { |f| require "#{f}/system/boot" }

require_relative "<%= config[:underscored_app_name] %>/application"
