require "bundler/setup"

begin
  require "pry-byebug"
rescue LoadError
end

require_relative "<%= config[:underscored_project_name] %>/container"

<%= config[:camel_cased_app_name] %>::Container.finalize!

require "<%= config[:underscored_project_name] %>/web"
