require_relative "<%= config[:underscored_umbrella_name] %>/<%= config[:underscored_project_name] %>/container"

<%= config[:camel_cased_umbrella_name] %>::<%= config[:camel_cased_app_name] %>::Container.finalize!

require "<%= config[:underscored_umbrella_name] %>/<%= config[:underscored_project_name] %>/application"
