require "<%= config[:underscored_umbrella_name] %>/view/context"

module <%= config[:camel_cased_umbrella_name] %>
  module <%= config[:camel_cased_app_name] %>
    module View
      class Context < <%= config[:camel_cased_umbrella_name] %>::View::Context
      end
    end
  end
end
