require "<%= config[:underscored_umbrella_name] %>/<%= config[:underscored_project_name] %>/view/controller"

module <%= config[:camel_cased_umbrella_name] %>
  module <%= config[:camel_cased_app_name] %>
    module Views
      class Welcome < View::Controller
        configure do |config|
          config.template = "welcome"
        end
      end
    end
  end
end
